.ProjectCard {
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    opacity: 0.2;
}

.project-title {
    position: absolute;
    color: white;
    font-weight: bold;
    z-index: 3;
    padding: 20px;
    mix-blend-mode: difference;
}