.BlogPost {
    max-width: 1280px;
    margin: 0 auto;
}

.BlogPost .Navbar, .blog-post-container {
    border-bottom: 1px solid rgb(231, 231, 231);
    border-left: 1px solid rgb(231, 231, 231);
    border-right: 1px solid rgb(231, 231, 231);
}

.blog-post-container {
    width: 100%;
    max-width: 1280px;
    margin-bottom: 90px;
    font-family: 'Barlow', sans-serif;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 36px;
}

.BlogPost .content-container {
    padding: 40px;
}

.float-right {
    border-left: 1px solid rgb(231, 231, 231);
    padding: 24px 10px;
}

.float-right .fixed {
    width: 100%;
    position: sticky;
    top: 20px;
}

.float-right .card-content {
    border-radius: 4px;
    margin-bottom: 12px;
}

.float-right h2 {
    padding: 12px;
}

.float-right img {
    width: 56px;
    height: 56px;
    display: block;
    
}

.float-right .card-title {
    display: flex;
    align-items: center;
}


.float-right span {
    color: grey;
    font-size: 0.8em;
}

.header {
    margin: 0 0 40px 0;
    overflow: hidden;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 72px;
}

.header .title {
    font-size: 3em;
    font-weight: bold;
    word-wrap: break-word;
    color: #eee;
}

.header .date {
    color: #ebebeb;
}

.header .tags {
    width: 100%;
    margin: 10px 0;
    font-size: 1em;
}

.header .tag {
    display: inline-block;
    margin: 10px 10px 10px 0;
    background-color: #8a8a8a;
    padding: 5px;
    border-radius: 4px;
    color: #eee;
}

.header .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.719);
    position: absolute;
    top: 0;
    left: 0;
}

.header .author, 
.header .title, 
.header .date, 
.header .tags {
    z-index: 100;
    position: relative;
}

.author {
    display: flex;
    align-items: center;
}

.author-photo {
    border-radius: 50%;
    overflow: hidden;
    width: 48px;
    height: 48px;
    margin-right: 20px;
}

.author-photo img {
    width: 100%;
    object-fit: contain;
}

.author-name {
    color: white;
}

.section {
    margin-bottom: 48px;
    word-wrap: break-word;
}

.section a {
    color: #4A65D0;
    font-weight: 400;
}

.content * {
    word-wrap: break-word;
    margin-bottom: 24px;
}

.content h1 {
    font-size: 2.2em;
    margin-top: 72px;
}

.content a {
    color: rgb(68, 68, 255);
    text-decoration: underline;
}

.content img {
    max-width: 768px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: contain;
}

pre {
    display: block;
    margin: 120px 0;
}

code {
    background-color: rgb(212, 212, 212);
    padding: 0.1em 0.25em;
    border-radius: 4px;
}

.content p {
    font-size: 19px;
    line-height: 32px;
    color: rgb(25, 28, 44);
}

.content blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C" "\201D" "\2018" "\2019";
}

.content ul li {
    list-style-type: initial;
}

.content ul, .content ol {
    margin-left: 20px;
}

.back-btn .read-more {
    width: 260px;
}

@media screen and (max-width: 1280px) {
    .float-right {
        display: none;
    }

    .blog-post-container {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .blog-post-container {
        padding: 20px;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .header {
        margin: 0 0 40px 0;
        min-height: 280px;
        padding: 24px;
    }

    .BlogPost .content-container {
        padding: 0px;
    }

    .BlogPost .Navbar, .blog-post-container {
        border: none;
    }
}

@media screen and (max-width: 375px) {
    .header {
        padding: 12px;
    }

    .header .title {
        font-size: 2em;
    }

    .header .date {
        font-size: 0.9em;
    }

    .header .tags {
        font-size: 0.8em;
    }
}