.react-horizontal-scrolling-menu--arrow-left,
.react-horizontal-scrolling-menu--arrow-right {
    position: relative;
    transform: translateY(24px);
}

.left-btn,
.right-btn {
    position: absolute;
    z-index: 50;
    bottom: 0;
    cursor: pointer;
}

.right-btn {
    transform: translateX(-24px);
}

.react-horizontal-scrolling-menu--inner-wrapper {
    overflow-y: visible;
}


.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
    /* chrome */
    display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}